@CHARSET "UTF-8";

h1 {
	font-size: 36px;
    font-family: "Arial", "Times New Roman", Times, serif;
}

h2 {
	font-size: 24px;
    font-family: "Arial", "Times New Roman", Times, serif;
}

table.imagebox {
	width: 100%;
}

table.chooser {
	width: 100%;
}

table.chooserform {
	width: 100%;
}

table.thumbnail {
	width: 100%;
	height: 100%;
}

tr.trthumbtop {
	height: 80%;
}

tr.trthumbbottom {
	height: 20%;
}

td.imagebox {
	width: 25%;
	text-align: center;
}

td.chooserform {
	width: 75%;
	padding: 15px;
}

td.chooser {
	width: 30%;
	vertical-align: baseline;
}

td.images {
}

td.tdthumbtop {
	text-align: center;
	padding: 20px;
	width: 100%;
}

td.tdthumbbottom {
	text-align: center;
	padding: 20px;
	width: 100%;
}

div.bottomtext {
    font-size: 24px;
    font-family: "Arial", "Times New Roman", Times, serif;
}

input[type=submit] {
	border: 1px solid #ccc;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    background-color: lightgrey;
    display: inline-block;
    font-size: 16px;
    font-family: "Arial", "Times New Roman", Times, serif;
    border-radius: 5px;
}

.custom-file-chooser {
    border: 1px solid #ccc;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    background-color: lightgrey;
    display: inline-block;
    font-size: 16px;
    font-family: "Arial", "Times New Roman", Times, serif;
    cursor: pointer;
    border-radius: 5px;
}

select#user-select {
	color: #fff;
	background-color: lightgrey;
	color: black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    display: inline-block;
	border-radius: 5px;
    padding: 15px 32px;
	text-align: center;
	font-size: 16px;
    font-family: "Arial", "Times New Roman", Times, serif;
    width: 100%;
}

table#select-form {
	width: 400px;
}

td#select-form {
	width: 50%;
	padding: 20px;
	text-align: center;
}

.delete {
	text-align: center;
	padding:30px;
}

input[type="checkbox"] {
	padding: 20px;
	height: 20px;
	width: 20px;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
}

.checkbox {
	font-size: 16px;
    font-family: "Arial", "Times New Roman", Times, serif;
}
